@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;400;700&display=swap');

header {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
   color:white;
   background: rgba(24, 24, 28, 0.7);
   padding: 20px;
   color: white;
   width: max-content;
   /* width: 30%; */
   margin: 0 10px;
   border: 1px solid white;
   border-radius: 10px;
}
.search input {
    background: rgba(24, 24, 28, 0.7);
    color: white;
    margin: 15px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
}
button {
    background: rgba(152, 192, 228, 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px;
}
.date-container {
    font-size: 30px;
    color: #3c3c44;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.currentWeather {
    background: rgba(24, 24, 28, 0.7);
    padding: 25px;
    color: white;
    margin: 20px;
}
body {
    background: url('https://surfstylevacationhomes.com/wp-content/uploads/2019/11/Winansea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: "quicksand";
}

.container {
    padding: 20px 70px;
    color: white;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top-section{
    display: flex;
}

#top-section > div {
    width: 50%;
}



.weather-forecast {
    background: rgba(24, 24, 28, 0.7);
    color: white;
    padding: 50px 0px;
    text-align: center;
}

#weather-forecast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

}

.weather-forecast .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
}

.weather-forecast .forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .forecast-item .temp {
    font-weight: 100;
    font-size: 20px;
    padding-top: 15px;
}

@media only screen and (max-width:730px) {
    
}

.search-list{
    background-color: #3c3c44;
    color: white;
}

.search-list ul {
    list-style: none;
}